* {
  font-family: Prompt;
}

.logo-nav {
  width: 160px;
}

.nav-item {
  margin-right: 2em;
  text-transform: uppercase;
  color: darkgrey;
}


.navbar-body {
  margin-left: auto;
}

.nav-link {
  font-family: 'Open Sans';
}
.nav-link:hover {
  color: #0b5884 !important;
}

.banner-img{
   display:block;
  }

 .banner-mobile-img{
  display: none;
 }

 @media (max-width: 640px){
  .banner-img{
   display:none;
  }

  .banner-mobile-img{
   display:block;
  }

  .swiper-container {
    display: block !important;
  }

  .our-courses-list {
    display: none;
  }

  .main-slider{
    width: 100%;
  }

  .teacher-team{
    display: none;
  }

  .teacher-img {
    max-width: 70%;
  }

}

.main-slider {
  width: 75%;
  margin: auto;
}




/* Swiper CSS */
.swiper-container {
      width: 100%;
      height: 100%;
      min-height: 370px;
      display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.about-us, .courses-list, .blog, .contact {
  padding-top: 5em;
  padding-bottom: 3em;
}

h1.about-title {
  font-size: 80px;
}

.about-description-container,
.course-list-description-container, .blog-description-container,
.contact-description-container, .teacher-description-container {
  width: 70%;
  margin-bottom: 3em;
  margin-top: 1.5em;
}

.service-img {
  max-width:100%;
  max-height:100%;
  margin-bottom: 2em;
}

.service-name {
  margin-bottom: 1em;
}

.service-description {
  font-size: 14px;
  font-weight: 200;
}

.our-courses-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

h2.course-list-title, h2.blog-header, h2.contact-title, h2.teacher-header, h2.success-section-title {
  font-size: 64px;
}

.about-title, .course-list-title, .blog-header, .contact-title, .teacher-header, .success-section-title{
  font-family: 'Open Sans';
}

 {
  width: 70%;
  margin-bottom: 3.5em;
}

.course-list {
  display: block;
}

.course-name {
    margin-left: 0.75em;
    margin-top: 0.4em;
}

.course-description{
    font-size: 14px;
    color: #262830;
    margin-top: 2em;
    margin-left: 1.5em;
    margin-right: 0.65em;
    text-align: left;
}


.course-card {
    border: 1px solid lightgrey;
    color: #0b5884;
    border-radius: 15px;
    margin: 0.5em;
    margin-top: 10px;
    min-height: 150px;
    height: auto;
}

.course-card:hover{
    background-color: #0b5884;
    color: white;
}

.course-card-small {
    border: 1px solid lightgrey;
    color: #0b5884;
    border-radius: 15px;
    margin: 0.5em;
    margin-top: 10px;
    max-height: 100px;
    height: auto;
}

.course-card-small:hover{
    background-color: #0b5884;
    color: white;
}

.course-card:hover p{
    color: white;
    font-weight: 300;
}

.course-card-anchor {
  color: #0b5884;
  text-decoration: none;
}

.course-card-anchor:hover {
    color: white;
    text-decoration: none;
}

.contact-img {
  width: 20%;
  margin-top: 1.5em;
}

.contact-channel {
  margin-top: 30px;
}

.contact-channel-link {
  color: #373535;
}

.contact-channel-link:hover {
  color: #0b5884;
  text-decoration: none;
}

.contact-anchor {
  margin-top: 1.5em;
}

.btn-social-icon:hover {
  background-color: white;
}

.social-icon {
  width: 50px;
}

.register-btn {
  margin: 2em 0 2em 0;
}

h1.course-title {
  font-family: 'Open Sans';
  font-size: 72px;
}

.btn-primary {
  background-color: #0b5884 !important;
  border-color: #0b5884 !important;
}

.phone-register, .line-register, .email-register {
  margin-top: 3em;
}

.text-intsight-primary {
  color: #0b5884;
}

.form-input {
  margin: 0.5em;
}

.teach-img-div {
  max-height: 400px;
}

.teacher-img {
  max-height: 200px;
}

@media (min-width: 640px){
  .teacher-card {
    margin-bottom: 0.5em;
  }
}

.teacher-card {
  margin-bottom: 5em;
}

.teacher-name {
  font-size: 28px;
}

.teacher-detail {
  font-size: 20px;
  min-height: 60px;
}


.student-img {
  width: 170px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform: translateY(20%);
}

.student-name {
  margin-top: 2em;
}

.student-scores {
  list-style-type: none;
  padding-left: 0;
}

/* On mouse-over, add a deeper shadow */
.success-card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.success-card-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
}

.student-cards {
  margin-top: -2em;
  margin-bottom: 3em;
}